body{
  background-image:url(rih.jpeg);
  background-repeat: no-repeat;
}


.containeur1{
  height: 400px;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 5px #888888;
}

#wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 180px;
}

form{
  height:550px;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;

}

.form{
  margin-top: 80px;
}

h1{
  height:100px;
  width: 600px;
  border: 3px solid black;
  padding-top: 50px;
  margin-left: 600px;
  text-align: center;
  text-shadow: 1px 1px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 5px #888888;
}

input{
  width: 250px;
  border-radius: 10px 10px 10px 10px;
}

#nom{
  height: 25px;
}

#valeur{
  height: 25px;
}

#stockage{
border-radius:50%;
width:100px;
height:100px;
background: linear-gradient(#f7f7f7, #e7e7e7);
box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
border:none;
outline:none;
font: 18px Tahoma bold;
color: black;
text-shadow: 1px 1px 1px lighgrey;
margin:20px;
}

#effacer{
  border-radius:50%;
  width:100px;
  height:100px;
  background: linear-gradient(#f7f7f7, #e7e7e7);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border:none;
  outline:none;
  font: 18px Tahoma bold;
  color: black;
  text-shadow: 1px 1px 1px lighgrey;
  margin:20px;
}

#lecture{
  border-radius:50%;
  width:100px;
  height:100px;
  background: linear-gradient(#f7f7f7, #e7e7e7);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border:none;
  outline:none;
  font: 18px Tahoma bold;
  color: black;
  text-shadow: 1px 1px 1px lighgrey;
  margin:20px;
}

#clear{
  border-radius:50%;
  width:100px;
  height:100px;
  background: linear-gradient(#f7f7f7, #e7e7e7);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border:none;
  outline:none;
  font: 18px Tahoma bold;
  color: black;
  text-shadow: 1px 1px 1px lighgrey;
  margin:20px;
}
